.banner {
  width: 100%;
  margin: 70px auto 45px auto;
  overflow: hidden;
  
  position: relative;
}

.banner img {
  width: 100%;
  position: relative;
  border-radius: 25px;
  filter: brightness(65%);
  -webkit-filter: brightness(65%); 
}

.banner-text {
    position: absolute;
    padding: 40px 267px;
    width: 100%;
    top: 0;
    right: 0;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
}
